@{
    ViewData["Title"] = "Home Page";
}

<div class="splash-screen text-center d-flex flex-column">
    <h1 class="display-1 pt-1 fw-bold">SavingOps</h1>
    <img src="assets/hero-image.png"/>
    <a class="display-6 text-black fw-bold text-decoration-none" asp-area="Identity" asp-page="/Account/Login">Continue...</a>
</div>
