@page
@model LoginModel

<div class="row">
        <div class="con-left">
            <div class="col">
                <h1>SavingOps</h1>
               @* <img src="assets/undraw_savings_re_eq4w.svg"/>*@
            </div>
        </div>
        <div class="con-right">
            <h2>Welcome Back</h2>
            <p>Log in with your credentials and view and update your Financial Information</p>
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="login-form">
                <div class="form-col">
                    <label asp-for="Input.Email" class="form-label">Email Address</label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-col">
                    <label asp-for="Input.Password" class="form-label">Password</label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <p>Don't have an account? <a asp-area="Identity" asp-page="/Account/Register" style="text-decoration: none;"><span style="color: #0047FF;">Sign up</span></a></p>
                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Sign in</button>
            </div>
          </form>
        </div>
    </div>
        

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
