@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="row">
        <div class="con-left">
            <div class="col">
                <h1>SavingOps</h1>
                @*<img src="assets/hero-image.png" alt="Saving Image">*@
            </div>
        </div>
        <div class="con-right">
            <h2>Welcome</h2>
            <p>Sign up and explore the endless support for saving and tracking of your finances. SavingOps is here to help you!</p>
            <form id="registerForm" method="post" >
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="login-form">
                <div class="form-col">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-col">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-col">
                    <label asp-for="Input.ConfirmPassword"></label>
                                       <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <p>Already have an account? <a asp-area="Identity" asp-page="/Account/Login" style="text-decoration: none;"><span style="color: #0047FF;">Sign in</span></a></p>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
            </div>
            </form>
        </div>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
