@model SavingOps.Models.Rent

<div class="savings-section">
        <h1 class="display-4 fw-bold">Rent</h1>
        <div class="d-flex justify-content-between align-content-center">
            <p>Amount spent towards rent</p>
            <a asp-controller="Home" asp-area="Index" class="display-5 fw-bold text-blue">Back to Home</a>
        </div>

    <form asp-action="Create">            
            <div class="form-group">
                <input type="submit" value="Pay Rent" class="btn btn-primary" />
            </div>
    </form>

        <div id="partialZone">

        </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $('#partialZone').load("/Rents/RentListPartial")
    </script>
}