@model SavingOps.Models.Saving

<div class="savings-section">
    <h1 class="display-4 fw-bold">Savings</h1>
    <div class="d-flex justify-content-between align-content-center">
        <p>Personal savings towards goal</p>
        <a asp-controller="Home" asp-area="Index" class="display-5 fw-bold text-blue">Back to Home</a>
    </div>

    <h2>Add To Savings Goal</h2>
    <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>           
            <div class="form-col pull">            
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
            <div class="form-group pt-2">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>

        <div id="partialZone">

        </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $('#partialZone').load("/Savings/SavingListPartial")
    </script>
}